<%- include('./partials/head', {title: 'Crear producto - La Casa de la Musica' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="forms-title-container"><div class="forms-title">CREAR PRODUCTO</div><div class="forms-title-bar"></div></div>

                <form action="/products/create" method="POST" class="formulario-login" enctype="multipart/form-data">
<div class="primera-parte">
                    <div class="casillero">
                        <label for="name" class="label-1">Nombre del producto:</label>
                        <input type="text" name="name" value="<%= locals.oldData ? oldData.name : '' %>"
                            class="input-1 <%= (locals.errors && errors.name) ? 'input-danger' : null %> name">

                    </div>
                    <div id="errors-name" class="warning-text"></div>
                    <% if (locals.errors && errors.name) { %>
                        <div id="validation1" class="warning-text">
                            <i class="fas fa-exclamation-circle"></i>
                            <%= errors.name.msg %>
                        </div>
                        <% } %>

                            <div class="casillero">
                                <label for="price" class="label-1">Precio del producto:</label>
                                <input type="text" name="price" value="<%= locals.oldData ? oldData.price : ''%>"
                                    class="input-1 <%= (locals.errors && errors.price) ? 'input-danger' : null %> price">

                            </div>
                            <div id="errors-price" class="warning-text"></div>
                            <% if (locals.errors && errors.price) { %>
                                <div id="validation2" class="warning-text">
                                    <i class="fas fa-exclamation-circle"></i>
                                    <%= errors.price.msg %>
                                </div>
                                <% } %>

                                    <div class="casillero">
                                        <label for="sku" class="label-1">SKU:</label>
                                        <input type="number" name="sku" value="<%= locals.oldData ? oldData.sku : ''%>"
                                            class="input-1 <%= (locals.errors && errors.sku) ? 'input-danger' : null %> sku">

                                    </div>
                                    <div id="errors-sku" class="warning-text"></div>
                                    <% if (locals.errors && errors.sku) { %>
                                        <div id="validation3" class="warning-text">
                                            <i class="fas fa-exclamation-circle"></i>
                                            <%= errors.sku.msg %>
                                        </div>
                                        <% } %>

                                            <div class="casillero">
                                                <label for="stock" class="label-1">Stock:</label>
                                                <input type="number" name="stock"
                                                    value="<%= locals.oldData ? oldData.stock : ''%>"
                                                    class="input-1 <%= (locals.errors && errors.stock) ? 'input-danger' : null %> stock">

                                            </div>
                                            <div id="errors-stock" class="warning-text"></div>
                                            <% if (locals.errors && errors.stock) { %>
                                                <div id="validation4" class="warning-text">
                                                    <i class="fas fa-exclamation-circle"></i>
                                                    <%= errors.stock.msg %>
                                                </div>
                                                <% } %>

                                                    <div class="casillero">
                                                        <label for="classification"
                                                            class="label-1">Clasificacion:</label>
                                                        <select name="classification" id="classification"
                                                            class="input-select <%= (locals.errors && errors.classification) ? 'input-danger' : null %> classification">
                                                            <option value=""></option>
                                                            <option value="main-top" <%=locals.oldData &&
                                                                (oldData.classification==='main-top' ) ? 'selected'
                                                                : ' ' %>>Nuevos Productos</option>
                                                            <option value="main-bottom" <%=locals.oldData &&
                                                                (oldData.classification==='main-bottom' ) ? 'selected'
                                                                : ' ' %>>Ofertas Destacadas</option>
                                                        </select>

                                                    </div>
                                                    <div id="errors-classification" class="warning-text"></div>
                                                    <% if (locals.errors && errors.classification) { %>
                                                        <div id="validation5" class="warning-text">
                                                            <i class="fas fa-exclamation-circle"></i>
                                                            <%= errors.classification.msg %>
                                                        </div>
                                                        <% } %>

                                                            <div class="casillero">
                                                                <label for="category_id"
                                                                    class="label-1">Categoria</label>
                                                                <select name="category_id" id="category_id"
                                                                    class="input-select <%= (locals.errors && errors.category_id) ? 'input-danger' : null %> category">

                                                                    <% if (locals.categories) { %>
                                                                        <option></option>
                                                                        <% for (let i=0; i < categories.length; i++) {
                                                                            %>
                                                                            <option
                                                                                value="<%=categories[i].category_id%>"
                                                                                <%=locals.oldData &&
                                                                                oldData.category_id==categories[i].category_id
                                                                                ? 'selected' : '' %>>
                                                                                <%= categories[i].name %>
                                                                            </option>
                                                                            <% } %>
                                                                                <% } %>

                                                                </select>



                                                            </div>
                                                            <div id="errors-category" class="warning-text"></div>
                                                            <% if (locals.errors && errors.category_id) { %>
                                                                <div id="validation6" class="warning-text">
                                                                    <i class="fas fa-exclamation-circle"></i>
                                                                    <%= errors.category_id.msg %>
                                                                </div>
                                                                <% } %>

                                                                    <div class="casillero">
                                                                        <label for="brand_id"
                                                                            class="label-1">Marca:</label>
                                                                        <select name="brand_id" id="brand"
                                                                            class="input-select <%= (locals.errors && errors.brand_id) ? 'input-danger' : null %> brand">

                                                                            <% if (locals.brands) { %>
                                                                                <option value=""></option>
                                                                                <% for (let i=0; i < brands.length; i++)
                                                                                    { %>
                                                                                    <option
                                                                                        value="<%=brands[i].brand_id%>"
                                                                                        <%=locals.oldData &&
                                                                                        oldData.brand_id==brands[i].brand_id
                                                                                        ? 'selected' : '' %>>
                                                                                        <%= brands[i].name %>
                                                                                    </option>
                                                                                    <% } %>
                                                                                        <% } %>

                                                                        </select>



                                                                    </div>
                                                                    <div id="errors-brand" class="warning-text"></div>
                                                                    <% if (locals.errors && errors.brand_id) { %>
                                                                        <div id="validation7" class="warning-text">
                                                                            <i class="fas fa-exclamation-circle"></i>
                                                                            <%= errors.brand_id.msg %>
                                                                        </div>
                                                                        <% } %>

                                                                            <div class="casillero">
                                                                                <label for="type" class="label-1">Tipo
                                                                                    de producto:</label>
                                                                                <input type="text" name="type"
                                                                                    value="<%= locals.oldData ? oldData.type : ''%>"
                                                                                    class="input-1 <%= (locals.errors && errors.type) ? 'input-danger' : null %> type">

                                                                            </div>
                                                                            <div id="errors-type" class="warning-text">
                                                                            </div>
                                                                            <% if (locals.errors && errors.type) { %>
                                                                                <div id="validation8"
                                                                                    class="warning-text">
                                                                                    <i
                                                                                        class="fas fa-exclamation-circle"></i>
                                                                                    <%= errors.type.msg %>
                                                                                </div>
                                                                                <% } %>

                                                                                    <div class="casillero">
                                                                                        <label for="description"
                                                                                            class="label-1">Descipción:</label>
                                                                                        <textarea name="description"
                                                                                            id="description"
                                                                                            class="input-textarea <%= (locals.errors && errors.description) ? 'input-danger' : null %> description"><%= locals.oldData ? oldData.description : ''%></textarea>

                                                                                    </div>
                                                                                    <div id="errors-description"
                                                                                        class="warning-text"></div>
                                                                                    <% if (locals.errors &&
                                                                                        errors.description) { %>
                                                                                        <div id="validation9"
                                                                                            class="warning-text">
                                                                                            <i
                                                                                                class="fas fa-exclamation-circle"></i>
                                                                                            <%= errors.description.msg
                                                                                                %>
                                                                                        </div>
                                                                                        <% } %>

                                                                                            <div class="casillero">
                                                                                                <label class="label-1">Imagen:</label>
                                                                                                <label for="profileimage" class="label-profile-image"><i class="fas fa-upload"></i><p class="toShow"></p></label>
                                                                                                <input type="file" name="profileimage" id="profileimage"
                                                                                                    class="input-file <%= (locals.errors && errors.image1) ? 'input-danger' : null %> image">
                                                                                            </div>


                                                                                            <div 
                                                                                                id="errors-image"
                                                                                                class="warning-text">
                                                                                            </div>
                                                                                            <% if (locals.errors &&
                                                                                                errors.image1) { %>
                                                                                                <div
                                                                                                id="validation10"
                                                                                                    class="warning-text">
                                                                                                    <i
                                                                                                        class="fas fa-exclamation-circle"></i>
                                                                                                    <%= errors.image1.msg
                                                                                                        %>
                                                                                                </div>
                                                                                                <% } %>
                                                                                            </div>

                                                                                                    <div
                                                                                                        class="casillero">
                                                                                                        <button
                                                                                                            type="submit"
                                                                                                            id="send-form"
                                                                                                            class="boton-allproducts" style="width: 200px; align-self: center;">GUARDAR
                                                                                                            PRODUCTO</button>
                                                                                                    </div>
                </form>
            </main>






            <%- include('./partials/footer') %>
                <script type="text/javascript" src="/js/createProductForm.js"></script>
                <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $('input[type="file"]').change(function(e){
                    var fileName = e.target.files[0].name;
                    let inputToShow = document.querySelector('input.image')
                    let toShow = document.querySelector('.toShow')
                    toShow.innerHTML = fileName
                });
            });
        </script>
    </body>

    </html>